body{
	background-color: #F3F2ED;
}

	h1{
  	font-family: "Georgia", serif;
  	font-size: 50px;
  }

  h2{
  	font-family: "georgia", serif;
  	font-size: 22px;
  }

  p{
  	font-family: "Lexend", sans-serif;
  	font-size: 15px;
  } 